git lfs untrack .gitattributes
git lfs untrack .gitignore
git add .gitattributes .gitignore
git commit -m "Commit .gitattributes and .gitignore as normal files"
D:/Fantasy-Game filter=lfs diff=lfs merge=lfs -text
